{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Insertion Page</title>
    <link rel="stylesheet" href="{% static 'lesson/Insertion_page_style.css' %}">
</head>

<body>
    <div class="main-page">
        <form action="" method="POST">
            {% csrf_token %}
            <div>
                <h2>مشخصات درس</h2>
                <input class="placeholder" id="course-name" type="text" placeholder="" name="name">
                <input class="placeholder" id="teacher-name" type="text" placeholder="" name="teacher">
                <input class="placeholder" id="course-code" type="text" placeholder="" name="code">
                <p style="width: 66px; height: 26px; top: 62px; left: 360px;">نام درس</p>
                <p style="width: 66px; height: 26px; top: 118px; left: 360px;">کد درس</p>
                <p style="width: 66px; height: 26px; top: 172px; left: 360px;">نام استاد</p>
                
                <img class="image" src="{% static ' lesson/media/open-book2.jpg ' %}" alt="open book">
                <img class="image" src="{% static ' lesson/media/book.jpg ' %}" style="top: 130px ;" alt="book">
                <img class="image" src="{% static ' lesson/media/user.jpg ' %}" style="top: 185px ;" alt="user">
                
                <!-- <pre class="logo" style="left: 336px; top:55px">⁔⁔</pre>
                <pre class="logo" style="left: 333px; top:65px">|  |</pre>
                <pre class="logo" style="left: 333px; top:75px">|  |</pre>
                <pre class="logo" style="left: 336px; top:75px">⁔⁔</pre> -->

                <h2 style="top: 40%;">:ساعت کلاس</h2>
                <select id="course-time" name="time_days">
                    <option value="1">7:30 - 9:30  </option>
                    <option value="2">9:30 - 11:30 </option>
                    <option value="3">11:30 - 13:30</option>
                    <option value="4">13:30 - 15:30</option>
                    <option value="5">15:30 - 17:30</option>
                    <option value="6">17:30 - 19:30</option>
                </select>

                <h2 style="top:62%;">:تعداد واحد</h2>
                <select id="tedad-vahed" name="credit">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>

            </div>

            <div>
                <h2 style="left:45px">:تاریخ امتحان</h2>
                <input id="exam-date" type="datetime-local" placeholder="زمان امتحان" name="exam_date">

                <h2 style="top:120px; left:45px;">:روزهای کلاس</h2>
                <input class="check-box" type="checkbox" name="satbox" value="sat">
                <p>شنبه</p>

                <input class="check-box" type="checkbox" name="sunbox" value="sun" style="top:223px;">
                <p style="top: 35%; left: 154px;">یکشنبه</p>

                <input class="check-box" type="checkbox" name="monbox" value="mon" style="top: 269px;">
                <p style="top: 43%; left: 154px;">دوشنبه</p>

                <input class="check-box" type="checkbox" name="tuebox" value="tue" style="top: 316px;">
                <p style="top: 51%; left: 146px;">سه شنبه</p>

                <input class="check-box" type="checkbox" name="wedbox" value="wed" style="top:366px">
                <p style="top: 59%; left: 136px;">چهارشنبه</p>

                <input class="check-box" type="checkbox" name="thubox" value="thu" style="top: 416px;">
                <p style="top: 67%; left: 146px;">پنجشنبه</p>

            </div>

            <div>
                <input id="button" type="submit" value="ایجاد" name="Add">
            </div>
        </form>

    </div>
<!--    <div class="error">-->
<!--        {{error}}-->
<!--    </div>-->
</body>

</html>